.square {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  background: transparent;
  border: none;
  color: var(--on-surface);
}

.square:hover {
  background-color: var(--surface);
  color: var(--primary);
}
