@import url('dark.css');
@import url('light.css');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color-scheme: light dark;
}

.game {
  background-color: var(--surface);
  color: var(--on-surface);
}

/* .dark {
  --surface: rgb(134 214 191);
  --primary: rgb(0 56 45);
  --on-surface: rgb(222 228 224);
}

.light {
  --surface: rgb(12 107 89);
  --primary: rgb(255 255 255);
  --on-surface: rgb(23 29 27);
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
