.dark {
  --primary: rgb(134 214 191);
  --surface-tint: rgb(134 214 191);
  --on-primary: rgb(0 56 45);
  --primary-container: rgb(0 81 66);
  --on-primary-container: rgb(161 242 219);
  --secondary: rgb(178 204 195);
  --on-secondary: rgb(29 53 46);
  --secondary-container: rgb(51 76 68);
  --on-secondary-container: rgb(205 233 222);
  --tertiary: rgb(169 203 227);
  --on-tertiary: rgb(15 52 71);
  --tertiary-container: rgb(41 74 94);
  --on-tertiary-container: rgb(198 231 255);
  --error: rgb(255 180 171);
  --on-error: rgb(105 0 5);
  --error-container: rgb(147 0 10);
  --on-error-container: rgb(255 218 214);
  --background: rgb(15 21 19);
  --on-background: rgb(222 228 224);
  --surface: rgb(15 21 19);
  --on-surface: rgb(222 228 224);
  --surface-variant: rgb(63 73 69);
  --on-surface-variant: rgb(191 201 196);
  --outline: rgb(137 147 143);
  --outline-variant: rgb(63 73 69);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(222 228 224);
  --inverse-on-surface: rgb(43 50 47);
  --inverse-primary: rgb(12 107 89);
  --primary-fixed: rgb(161 242 219);
  --on-primary-fixed: rgb(0 32 25);
  --primary-fixed-dim: rgb(134 214 191);
  --on-primary-fixed-variant: rgb(0 81 66);
  --secondary-fixed: rgb(205 233 222);
  --on-secondary-fixed: rgb(7 32 26);
  --secondary-fixed-dim: rgb(178 204 195);
  --on-secondary-fixed-variant: rgb(51 76 68);
  --tertiary-fixed: rgb(198 231 255);
  --on-tertiary-fixed: rgb(0 30 45);
  --tertiary-fixed-dim: rgb(169 203 227);
  --on-tertiary-fixed-variant: rgb(41 74 94);
  --surface-dim: rgb(15 21 19);
  --surface-bright: rgb(52 59 56);
  --surface-container-lowest: rgb(9 15 13);
  --surface-container-low: rgb(23 29 27);
  --surface-container: rgb(27 33 31);
  --surface-container-high: rgb(37 43 41);
  --surface-container-highest: rgb(48 54 52);
}
